<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Note</title>
</head>
<body>
<h1>Update Note</h1>
<form method="post" action="http://localhost:8089/note/edit">
    <label for="id">Note id:</label><br>
    <input type="text" id="id" name="id"><br>

    <label for="title">New title:</label><br>
    <input type="text" id="title" name="title"><br>

    <label for="content">New content:</label><br>
    <textarea id="content" name="content"></textarea><br><br>
    <input type="submit" value="Update Note">
</form>
</body>
</html>
